{% extends 'base.html' %}

{% block title %}
  Confirmation
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card card-soft shadow-sm border-0">
        <div class="card-body p-4">
          <h2 class="h5 mb-3">Confirmation de suppression</h2>
          <p class="text-muted-soft mb-4">Vous voulez vraiment supprimer l'adhérent suivant ?</p>
    
          <ul class="list-group mb-4">
            <li class="list-group-item">Matricule : <strong>{{ adherent.matricule }}</strong></li>
            <li class="list-group-item">Nom : <strong>{{ adherent.nom }}</strong></li>
            <li class="list-group-item">Prénom : <strong>{{ adherent.prenom }}</strong></li>
            <li class="list-group-item">Email : <strong>{{ adherent.email }}</strong></li>
            <li class="list-group-item">Fonction : <strong>{{ adherent.fonctions }}</strong></li>
          </ul>
          </div>
            <form method="post" class="text-center mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger ">Supprimer</button>
            <a href="{% url 'listeAdherent' %}" class="btn btn-secondary">Annuler</a>
            </form>
          </div>
        </div>
    </div>
  </div>
{% endblock %}